body, html {
  color: #402d33;
}

h1, h2, h3, h4, h5, h6, header .title {
  font-family: 'PT Serif', serif;
  font-weight: 700;
}

header .logo {
  width: 75%;
  height: auto;
}

header .title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.25;
  color: #402d33;
  margin-top: 2rem;
}

h1::after, h2::after, h3::after {
  content: "";
  display: block;
  background: #ffa600;
  height: 0.25rem;
}

h1::after {
  width: 4rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h2::after {
  width: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3::after {
  width: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#authors img {
  width: 100%;
  height: auto;
}

#authors .item {
  margin-bottom: 1rem;
}

#authors .item:last-child {
  margin-bottom: 0;
}

ul#authors {
  padding: 0;
}

ul#authors li {
  list-style: none;
}

@media (min-width: 576px) {
  header .logo {
    width: 50%;
    height: auto;
  }
}

@media (min-width: 992px) {
  header .logo {
    width: 25%;
    height: auto;
  }
}
