{{ partial "head" . }}
{{ partial "navigation" . }}

<main class="container pb-4 mb-4 mt-5 border-bottom">
  <h1>{{ .Title }}</h1>
  {{ .Content }}
</main>

<!-- List authors -->
<section
  id="authors"
  class="container">

  <h2>Authors</h2>
  <div class="row">
    {{ $authors := .Site.GetPage "section" "authors" }}
    {{ range $authors.Pages }}
      <div class="col-lg-4 item">
        {{ $image := .Resources.GetMatch "*.jpg" }}
        {{ $resized := $image.Fill "512x512" }}

        <figure class="figure">
          <img
            class="mb-3"
            src="{{ $resized.Permalink }}"
            alt="Photo of {{ .Title }} by {{ .Params.Photo.Credit }}">
          <figcaption class="figure-caption">Photo &copy; {{ .Params.Photo.Credit }}</figcaption>
        </figure>

        <h3>{{ .Title }}</h3>

        <p class="small">
          <a
            href="{{ .Params.Website.Url }}"
            class="btn btn-dark btn-sm">website</a>
        </p>

        {{ .Content }}
      </div><!-- /.col-lg-4 -->
    {{ end }}
  </div><!-- /.row -->
</section>

<!-- To be added later
<section
  id="works"
  class="container">
  {{ $works := .Site.GetPage "/exhibition/works" }}
  <h2>{{ $works.Title }}</h2>

  <ol>
    {{ range $works.Pages }}
    <li>{{ .Title }}</li>
    {{ end }}
  </ol>
</section>
-->

{{ partial "footer" . }}
{{ partial "foot" . }}
