<!-- Header -->
<header class="container py-5 mb-5 border-bottom">
  <a href="/" class="text-decoration-none">
    <img class="logo" src="/assets/images/decade-logo.svg" height="100">
  </a>
  <div class="title">
    {{ .Site.Title }}
  </div>
</header>
