<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="/assets/images/decade-logo-white.svg"
        alt="Logo in white"
        height="30">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {{ $pageurl := .Page.URL }}
        {{ range .Site.Menus.main }}
          <li class="nav-item">
            <a class="nav-link{{ if eq .URL $pageurl }} active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}

      </ul>
    </div>
  </div>
</nav>
