{{ partial "head" . }}
{{ partial "navigation" . }}

<main class="container mt-5">
  <h1 id="title">{{ .Title }}</h1>

  <div id="images">
    {{ $title := .Title }}
    {{ $images := .Resources.ByType "image" }}
    <figure class="figure">
      {{ range $images }}
        {{ $resized := .Fit "1280x720" }}
        <p>
          <img
            class="img-fluid"
            src="{{ $resized.Permalink }}"
            alt="Image of {{ $title }}">
          </p>
      {{ end }}
      <figcaption class="figure-caption">Photo &copy; {{ .Params.Photo.Credit }}</figcaption>
    </figure>
  </div>

  <div id="links">
    <p>
      <a href="{{ .Params.Website.Url }}" class="btn btn-sm btn-dark">website</a>
    </p>
  </div>

  <div id="description">
    {{ .Content }}
  </div>

</main>

{{ partial "footer" . }}
{{ partial "foot" . }}
