{{ partial "head" . }}
{{ partial "navigation" . }}
{{ partial "header" . }}

<main class="container">

  <div class="lead mb-5">
    <h1>{{ .Title }}</h1>
    <p class="lead">{{ .Params.Intro }}</p>
  </div>

  <div class="row">
    {{ $exhibition := .Site.GetPage "/exhibition" }}
    <div class="col-lg-4 mb-4">
      <h2>Exhibition</h2>
      <p>{{ $exhibition.Params.Intro }}</p>
      <p>
        <a
          href="/exhibition"
          class="btn btn-dark">Read more</a>
      </p>
    </div>

    {{ $celebration := .Site.GetPage "/celebration" }}
    <div class="col-lg-4 mb-4">
      <h2>Celebration</h2>
      <p>{{ $celebration.Params.Intro }}</p>
      <p>
        <a
          href="/celebration"
          class="btn btn-dark">Read more</a>
      </p>
    </div>

    {{ $bootcamp := .Site.GetPage "/bootcamp" }}
    <div class="col-lg-4">
      <h2>Bootcamp</h2>
      <p>{{ $bootcamp.Params.Intro }}</p>
      <p>
        <a
          href="/bootcamp"
          class="btn btn-dark">Read more</a>
      </p>
    </div>
  </div>
</main>

{{ partial "footer" . }}
{{ partial "foot" . }}
