{{ partial "head" . }}
{{ partial "navigation" . }}

<main class="container mt-5">
  <h1 id="title">{{ .Title }}</h1>

  <p><ul id="authors">
    {{ range .Params.Authors }}
      {{ $author := . }}
      {{ $path := (printf "%s%s" "/exhibition/authors/" $author) }}
      {{ $page := site.GetPage $path }}
      <li>
        <a
          href="{{ $page.Permalink }}"
          class="link-dark">{{ $page.Title }}</a>
      </li>
    {{ end }}
  </ul>
  </p>

  <div id="images">
    {{ $title := .Title }}
    {{ $images := .Resources.ByType "image" }}

    <figure class="figure">
      {{ range $images }}
        {{ $resized := .Fit "1280x720" }}
        <p>
          <img
            class="img-fluid"
            src="{{ $resized.Permalink }}"
            alt="Image of {{ $title }}">
        </p>
      {{ end }}
      <figcaption class="figure-caption">All images &copy; {{ .Params.Imcopy }}</figcaption>
    </figure>
  </div>

  <div id="description">
    {{ .Content }}
  </div>
</main>

{{ partial "footer" . }}
{{ partial "foot" . }}
