<div class="alert alert-info col-md-8" role="alert">
  <svg class="bi" width="32" height="32" fill="currentColor">
    <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#info-circle"/>
  </svg>&nbsp;
  {{ .Inner }}
</div>
